services:
  kexa:
    build: https://github.com/kexa-io/Kexa.git
    #image: innovtech/kexa
    env_file:
      - .env
    volumes:
      - ./config:/app/config
      - ./rules:/app/rules
      - ./output:/app/output
